


.Backgroundimage {
background-image: url("./background_doc.jpg");
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; 
  background-repeat:no-repeat ;
}
